.referance {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}

.referance-container {
  width: 100vw;
  padding: 4rem 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.referance-item {
  /* width: 20%; */
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2dfdf;
}

.referans-logo {
  width: 200px;
  height: 150px;
}
